.main{
    
}
#rcorner{

}
#navbarScroll{
    

}
#hero{
   display: flex;
   padding: 50px;
   padding-top: 10%;
    width: 100%;
height: 996px;
/* border: 2px solid black; */
background-color: rgb(76, 196, 21);
}

#left{
    width: 50%;
}

#right{
    text-align: right;
    vertical-align: right;
margin-left: 0px;
}

#skills{
    border: 2px solid blue;
}
 .row{
    padding-top: 50px;
 }
#skillh4{
    margin: 30px;
margin-top: 60px;

}
#skillh1{
    margin: 30px;
}




















